html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*Index&Images*/
nav.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 15px 20px 15px 0px;
    width: 100%;
    box-sizing: border-box;
}

nav.navbar a{
    color: rgba(0, 0, 0, .87);
    font-size: 13px;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
}

nav.navbar a:hover{
    text-decoration: underline;
}

.logo{
    margin-top: 36px;
    display: flex;
    justify-content: center;
}

.logo-box{
    position: relative;
    display: inline-block; 
}

.logo img{
    object-fit: contain;
    display: block;
}

.images-label{
    color: rgb(66, 133, 244);
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
}

.search{
    margin: 0 auto;
    max-width: 688px;
    padding-top: 40px;
    width: 100%;
}

.search form{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
}

.search-box{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 688px;
    min-height: 50px;
    padding: 0 15px;
    background: #fff;
    border: 1px solid #dadce0;
    border-radius: 26px;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
    position: relative;
}

.search-box:hover{
    box-shadow: 0px 3px 10px rgba(31, 31, 31, 0.28);
}

.search-box input{
    flex: 1; /*flex-grow:1; flex-shrink:1, flex-basis:0;:occupy all remaining space*/
    line-height: 22px;
    border-bottom: 8px solid transparent;
    padding-top: 14px;
    resize: none;
    background-color: transparent; 
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    word-wrap: break-word;
    display: flex;
    font-size: 16px;
}

.search-icon {
    font-size: 17px;
    margin-right: 10px;
    pointer-events: none;
}

.search-btn{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.search-btn input{
    background-color: rgb(248, 249, 250);
    border: 1px solid rgb(248, 249, 250);
    border-radius: 8px;
    font-weight: 400;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
}

.search-btn input:hover{
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(15, 15, 15, 0.1);
}

/*AS*/

header{ 
    display: block; /*default*/
    background-color: #fff;
    color: #000;
    font-size: 13px;
    border-bottom: 1px solid #dadce0;
    padding: 8px 8px;
    position: relative;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top img{
    object-fit: contain;
    user-select: none; 
    display: inline-block; 
    position: relative;
    top: 2px; 
    padding-left: 12px;
    line-height: normal;
}

.header-title{
    margin: 25px 35px;
}

.header-title h1{
    font-size: 20px;
    font-weight: 400;
    color: rgb(217, 48, 37);
    margin-left: 10px;
}

.as{
    max-width: 1100px;
    min-width: 1000px;
    width: 100%;
    margin: 40px 2% 0 52px;
}

.as-title{
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 20px;
}

.as .search-title{
    display: table-cell;
    vertical-align: middle;
    width: 180px;
    color: rgb(51, 51, 51);
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.as .empty-cell{
    display: table-cell;
    width: 460px;
}

.as .hint-title{
    display: table-cell;
    width: 320px;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: rgb(119, 119, 119);
    padding-left: 20px;
}

.as-row{
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 1100px;
    margin-bottom: 12px;
}

.as-label{
    display: table-cell;
    vertical-align: middle;
    width: 180px;
}

.as label{
    color: rgb(22, 21, 21);
    font-size: 13px;
    line-height: 16px;
}

.as-input{
    display: table-cell;
    vertical-align: middle;
    width: 460px;
    padding-right: 20px;
}

.as input[type="text"]{
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 1px;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 100%;
    font-family: Arial;
}

.as input[type="text"]:focus{
    border-color: rgb(66, 133, 244);
    outline: none;
}

.as-hint{
    display: table-cell;
    vertical-align: middle;
    width: 320px;
    padding-left: 20px;
}

.hint{
    color: rgb(102, 102, 102);
    font-family: monospace;
    font-size: 11px;
}

.hint .example{
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

.as-row.action-row{
    display: table;
    width: 100%;
    max-width: 1100px;
}

.btn-cell{
    display: table-cell;
    vertical-align: middle;
    width: 475px;
}

.as-btn{
    user-select: none;
    height: 30px;
    min-width: 120px;
    float: right;
    margin: 10px 0;
    padding: 0 12px;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    cursor: pointer;
}

.as-btn:hover{
    background-color: #357ae8;
    border: 1px solid #2f5bb7;
}

.as-btn:focus{
    box-shadow: inset 0 0 0 1px #fff;
    border: rgba(0, 0, 0, 0) solid 1px;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*Footer*/
footer{
    background: #f2f2f2;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    height: 50px;
    align-items: center;
}

footer a{
    color: #1f1f1f;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 0 15px;
    text-decoration: none;
}

footer a:hover, .as-links a:hover{
    text-decoration: underline;
}

.as-links{
    margin-top: auto;
    margin-bottom: 40px;
}

.as-links p{
    color: rgb(51, 51, 51);
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 52px;
}

.as-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.as-links a{
    color: rgb(0, 0, 238);
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-left: 52px;
    text-decoration: none;
}

