{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ title }}
{% endblock %}

{% block body %}
    <h1>Edit {{ title }}</h1>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="content">Entry Content</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{ content }}</textarea>
        </div>
        <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>
{% endblock %}